ShareWare/ConsoleApplication2/Service References/ServiceReference/ShareWare.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ShareWare" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ShareWare" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFileOwner">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileOwner" nillable="true" type="tns:FileOwner" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileOwner" nillable="true" type="tns:ArrayOfFileOwner" />
  <xs:complexType name="FileOwner">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileInfo" nillable="true" type="tns:FileInfo" />
      <xs:element minOccurs="0" name="Hash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="Users" nillable="true" type="tns:Users" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileOwner" nillable="true" type="tns:FileOwner" />
  <xs:complexType name="FileInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileOwner" nillable="true" type="tns:ArrayOfFileOwner" />
      <xs:element minOccurs="0" name="Hash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsFolder" type="xs:boolean" />
      <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Size" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileInfo" nillable="true" type="tns:FileInfo" />
  <xs:complexType name="Users">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileOwner" nillable="true" type="tns:ArrayOfFileOwner" />
      <xs:element minOccurs="0" name="MAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="UserIP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Users" nillable="true" type="tns:Users" />
</xs:schema>