ShareWare/ConsoleApplication1/Service References/ServiceReference/ShareWare.ShareFile.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ShareWare.ShareFile" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ShareWare.ShareFile" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFileInfoTransfer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileInfoTransfer" nillable="true" type="tns:FileInfoTransfer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileInfoTransfer" nillable="true" type="tns:ArrayOfFileInfoTransfer" />
  <xs:complexType name="FileInfoTransfer">
    <xs:sequence>
      <xs:element name="_x003C_Hash_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IsFolder_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Path_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Size_x003E_k__BackingField" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileInfoTransfer" nillable="true" type="tns:FileInfoTransfer" />
</xs:schema>