ShareWare/ShareMetro/Service References/ServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ShareService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IShareService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ShareWare.ServiceLibrary" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ShareWare" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ShareWare.ShareFile" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IShareService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IShareService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IShareService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IShareService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IShareService_TickTack_InputMessage">
    <wsdl:part name="parameters" element="tns:TickTack" />
  </wsdl:message>
  <wsdl:message name="IShareService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IShareService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IShareService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IShareService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IShareService_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IShareService_UploadShareInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadShareInfo" />
  </wsdl:message>
  <wsdl:message name="IShareService_UploadShareInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadShareInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IShareService_DownloadShareInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadShareInfo" />
  </wsdl:message>
  <wsdl:message name="IShareService_DownloadShareInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadShareInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IShareService_RemoveOldFile_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveOldFile" />
  </wsdl:message>
  <wsdl:message name="IShareService_SearchFile_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchFile" />
  </wsdl:message>
  <wsdl:message name="IShareService_SearchFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchFileResponse" />
  </wsdl:message>
  <wsdl:message name="IShareService_DownloadRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadRequest" />
  </wsdl:message>
  <wsdl:message name="IShareService_DownloadRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IShareService_UploadImage_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadImage" />
  </wsdl:message>
  <wsdl:message name="IShareService_DownloadUserImage_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadUserImage" />
  </wsdl:message>
  <wsdl:message name="IShareService_DownloadUserImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadUserImageResponse" />
  </wsdl:message>
  <wsdl:message name="IShareService_DownloadPerformance_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:DownloadPerformance" />
  </wsdl:message>
  <wsdl:message name="IShareService_NewUser_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NewUser" />
  </wsdl:message>
  <wsdl:message name="IShareService_UserLeave_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:UserLeave" />
  </wsdl:message>
  <wsdl:message name="IShareService_RefreshUserList_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RefreshUserList" />
  </wsdl:message>
  <wsdl:portType name="IShareService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IShareService/GetData" message="tns:IShareService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShareService/GetDataResponse" message="tns:IShareService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IShareService/GetDataUsingDataContract" message="tns:IShareService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShareService/GetDataUsingDataContractResponse" message="tns:IShareService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TickTack">
      <wsdl:input wsaw:Action="http://tempuri.org/IShareService/TickTack" message="tns:IShareService_TickTack_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IShareService/Register" message="tns:IShareService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShareService/RegisterResponse" message="tns:IShareService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IShareService/Login" message="tns:IShareService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShareService/LoginResponse" message="tns:IShareService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IShareService/Logout" message="tns:IShareService_Logout_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadShareInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IShareService/UploadShareInfo" message="tns:IShareService_UploadShareInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShareService/UploadShareInfoResponse" message="tns:IShareService_UploadShareInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadShareInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IShareService/DownloadShareInfo" message="tns:IShareService_DownloadShareInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShareService/DownloadShareInfoResponse" message="tns:IShareService_DownloadShareInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveOldFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IShareService/RemoveOldFile" message="tns:IShareService_RemoveOldFile_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IShareService/SearchFile" message="tns:IShareService_SearchFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShareService/SearchFileResponse" message="tns:IShareService_SearchFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IShareService/DownloadRequest" message="tns:IShareService_DownloadRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShareService/DownloadRequestResponse" message="tns:IShareService_DownloadRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IShareService/UploadImage" message="tns:IShareService_UploadImage_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadUserImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IShareService/DownloadUserImage" message="tns:IShareService_DownloadUserImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShareService/DownloadUserImageResponse" message="tns:IShareService_DownloadUserImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadPerformance">
      <wsdl:output wsaw:Action="http://tempuri.org/IShareService/DownloadPerformance" message="tns:IShareService_DownloadPerformance_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewUser">
      <wsdl:output wsaw:Action="http://tempuri.org/IShareService/NewUser" message="tns:IShareService_NewUser_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserLeave">
      <wsdl:output wsaw:Action="http://tempuri.org/IShareService/UserLeave" message="tns:IShareService_UserLeave_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="RefreshUserList">
      <wsdl:output wsaw:Action="http://tempuri.org/IShareService/RefreshUserList" message="tns:IShareService_RefreshUserList_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IShareService" type="tns:IShareService">
    <wsp:PolicyReference URI="#NetTcpBinding_IShareService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetData">
      <soap12:operation soapAction="http://tempuri.org/IShareService/GetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap12:operation soapAction="http://tempuri.org/IShareService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TickTack">
      <soap12:operation soapAction="http://tempuri.org/IShareService/TickTack" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/IShareService/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/IShareService/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="http://tempuri.org/IShareService/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UploadShareInfo">
      <soap12:operation soapAction="http://tempuri.org/IShareService/UploadShareInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadShareInfo">
      <soap12:operation soapAction="http://tempuri.org/IShareService/DownloadShareInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveOldFile">
      <soap12:operation soapAction="http://tempuri.org/IShareService/RemoveOldFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SearchFile">
      <soap12:operation soapAction="http://tempuri.org/IShareService/SearchFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadRequest">
      <soap12:operation soapAction="http://tempuri.org/IShareService/DownloadRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadImage">
      <soap12:operation soapAction="http://tempuri.org/IShareService/UploadImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="DownloadUserImage">
      <soap12:operation soapAction="http://tempuri.org/IShareService/DownloadUserImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadPerformance">
      <soap12:operation soapAction="http://tempuri.org/IShareService/DownloadPerformance" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewUser">
      <soap12:operation soapAction="http://tempuri.org/IShareService/NewUser" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLeave">
      <soap12:operation soapAction="http://tempuri.org/IShareService/UserLeave" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RefreshUserList">
      <soap12:operation soapAction="http://tempuri.org/IShareService/RefreshUserList" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ShareService">
    <wsdl:port name="NetTcpBinding_IShareService" binding="tns:NetTcpBinding_IShareService">
      <soap12:address location="net.tcp://localhost:8733/Design_Time_Addresses/ShareWareServiceLibrary/Service/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8733/Design_Time_Addresses/ShareWareServiceLibrary/Service/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>