ShareWare/ShareMetro/Service References/ServiceReference/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ShareWare.ShareFile" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ShareWare" />
  <xs:element name="TickTack">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passWord" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mac" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadShareInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ShareWare.ShareFile" minOccurs="0" name="fileList" nillable="true" type="q1:ArrayOfFileInfoTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadShareInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadShareInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadShareInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadShareInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ShareWare.ShareFile" minOccurs="0" name="DownloadShareInfoResult" nillable="true" type="q2:ArrayOfFileInfoTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveOldFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ShareWare.ShareFile" minOccurs="0" name="fileList" nillable="true" type="q3:ArrayOfFileInfoTransfer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveNotExistShreFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hash" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveNotExistShreFileList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="hashList" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="nameList" nillable="true" type="q5:ArrayOfstring" />
        <xs:element minOccurs="0" name="mustOnline" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ShareWare.ShareFile" minOccurs="0" name="SearchFileResult" nillable="true" type="q6:ArrayOfFileInfoData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nPort" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DownloadRequestResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="image" nillable="true" type="q7:Bitmap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadUserImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadUserImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="DownloadUserImageResult" nillable="true" type="q8:Bitmap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestConversation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="localPort" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestOpenShareFolder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="localPort" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendChatRoomMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadUserInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadUserInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ShareWare" minOccurs="0" name="DownloadUserInfoResult" nillable="true" type="q9:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeUserInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ShareWare" minOccurs="0" name="userInfo" nillable="true" type="q10:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeUserInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeUserInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oldPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangePasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadPerformance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="szHash" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="szIp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nPort" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ShareWare" minOccurs="0" name="user" nillable="true" type="q11:OnlineUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLeave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshUserList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ShareWare" minOccurs="0" name="userList" nillable="true" type="q12:ArrayOfOnlineUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConversationPerformance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="remoteIp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="remotePort" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenShareFolderPerfromance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nickName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="remoteIp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="remotePort" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveChatRoomMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nickName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>