ShareWare/ShareMetro/Service References/ServiceReference/ShareWare.ShareFile1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ShareWare.ShareFile" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ShareWare.ShareFile" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFileInfoTransfer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileInfoTransfer" nillable="true" type="tns:FileInfoTransfer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileInfoTransfer" nillable="true" type="tns:ArrayOfFileInfoTransfer" />
  <xs:complexType name="FileInfoTransfer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Hash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsFolder" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Size" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileInfoTransfer" nillable="true" type="tns:FileInfoTransfer" />
  <xs:complexType name="ArrayOfFileInfoData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FileInfoData" nillable="true" type="tns:FileInfoData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFileInfoData" nillable="true" type="tns:ArrayOfFileInfoData" />
  <xs:complexType name="FileInfoData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Hash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsFolder" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsOnline" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Size" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Source" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileInfoData" nillable="true" type="tns:FileInfoData" />
</xs:schema>